body{
    background-color: rgba(0, 3, 25, 1);
    ;
}

.Header {
    height: auto;
    padding: 0 50px;
}

.nav-bar {
   /* height: auto; */

    border-radius: 15%;
    display: flex;

    background-color: rgb(2, 9, 54);
    height: 2rem;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    /* justify-content: center;
    text-align: center; */
}

.nav-bar-headings {
    color: white;

}